/* Hoja de estilos del panel de usuario*/

html{
    width:100%;
    height:100%;
}

body{
    -moz-;
    -webkit-;
    -o-;
    margin:0px;   
    background:#3C64AA;
}

#barrasuperior{
    width:100%;
    height:50px;
    background: #FFFFFF;
}

#cabecera{
    width:100%;
    height:60px; 
    background:#FFFFFF;
}


#datoscabecera{  
    margin:0px auto;
    width:1000px;
    height:70px;
}



#divsocial{
    float:right;
    height:40px;
    
}

.logo{
    float:left;
    width:150px;
    padding: 5px;
}

.social{
    opacity: 0.75;
    padding-top:10px;
}

.social:hover{
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    opacity: 1;
}

#contenido{
    width:100%;
    height:800;
    background:#004682;
}

#barrainferior{
    width:100%;
    height:100px;
    margin-top:100px;
    background:#FFFFFF;
    
}

#panel{
    float:left;
    margin-top:25;
    width:300;
    height:600;
    background: #FFFFFF;   
}

.divCampos{
	float:left; 
}

.campos{
    width: 300;
    height:40;
    outline: none;
    border:1 solid;
    border-color: #AAAAAA;
    padding-left:20;
    font-family:lanenar;
    color: #999999;
    font-size: 20;
    border-radius: 7;
}

#campinf{
    float:left;
    margin-top:150;
    width: 100%;
    height: 500;
    background: #FFFFFF;
}

.label{  
	color:#999999; 
	float:left;
	font-size:24; 
	text-align: left; 
	color: #000000;
}

.label2{
	color:#999999; 
	float:left;
	font-size:24; 
	text-align: left; 
	color: #000000;
	margin-right:100;
}

.boton{
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width:300px;
    height:60px;
    background: #3C64AA;
    outline: none;
    border:none;
    border-radius: 7px;
    font-family:abeezee;
    font-size:25px;
    color: #FFFFFF;
}

.boton:hover{
    width:350px;
    height: 70px;
    background: #EEEEEE;
    color:#3C64AA;
	cursor:pointer;
}

.boton:active{
    width:300px;
    height:60px;
    background: #3C64AA;
    color:#FFFFFF;
}

.element{
    float:left;
    text-align:left;
    margin-left:50;
    width:300;
    height:25;
    padding:4;
    color:666666;
    
}

.check{
    width:30;
}

.info{
    font-size:20px;
    font-family:abeezee;
    color:#555555;
	padding-top:16px;
}

.info a{
	text-decoration:none;
}