/*Hoja de estilos del login de usuario*/


body{
    margin:0;   
}

#barrasuperior{
    width:100%;
    height:75;
    background: #004682;
}

#bscontenido{
    margin:auto;
    width:1200;
    height:100%;
}

#contenido{
    width:100%;
    height:600;
    background:#FFFFFF;
}

#barrainferior{
    background: #004682;
    height:350;
}

.label{
    font-family: laneposh;
    font-size: 90;
    color: #004682;
    
}

